{% extends "base.html" %}
{% block title %}
  Об авторе проекта
{% endblock title %}
{% block content %}
  <h1>Привет, я автор</h1>
  <p>
    Меня зовут Айаал, это якутское имя, которое означает "творец", "создатель".
    Живу на севере, в г. Якутске (Винтерфелл для этого мира). Вот ссылка на GitHub https://github.com/Gayaal.
    Сегодня 09.02.2023 у нас на улице -50 С. Кому интересно как можно жить в таких условиях,
    можете писать в личку в Пачке, покажу, расскажу. А так сам обычный, скромный молодой
    человек, есть жена и ребенок. Считаю, что цель жизни в развитии, поэтому решил узнать
    для себя новую профессию как приограммирование (когда если не сейчас в наше то время).
    Есть кот "Лютоволк", ласково "Лютик" (Да, я фанат Игры престолов хД).
  </p>
{% endblock content %}
